/* Estilos para la sección "Objetivos" */
.section-1 {
    background-image: url("imagenes/objetivos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center; /* Centrar el contenido en la sección */
}

.section-1 h2 {
    color: #007bff;
    font-size: 36px; /* Aumentar el tamaño del título */
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-1 p {
    margin-bottom: 20px;
    font-size: 18px; /* Aumentar el tamaño del texto */
}

/* Estilos específicos para esta sección */
.section-1 .objetivo-general {
    font-weight: bold;
}

/* Estilos para el texto dentro de la imagen de fondo */
.section-1 .texto-fondo {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para hacer el texto más legible */
    padding: 20px;
    border-radius: 10px;
}
