/* Estilos para la sección "Objetivos" */
.section-objetivos {
    background-image: url("imagenes/objetivos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.section-objetivos h2 {
    color: #007bff;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-objetivos p {
    margin-bottom: 20px;
}

/* Estilos específicos para esta sección */
.section-objetivos .objetivo-general {
    font-weight: bold;
}

