body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 100%;
    padding: 20px;
}

.navbar {
    background-color: #007bff;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-toggler {
    border: none;
}

.navbar-nav .nav-link {
    color: #333;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
}

.navbar-nav .nav-link:hover {
    background-color: transparent;
    color: #007bff;
}

h1 {
    color: #007bff;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    color: #333;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.main-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.section-header {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}

.section-content {
    margin-top: 20px;
    color: #333;
}

.imagen-casa {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
}

/* Estilos de sección con colores alternativos */
.section-1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-2 {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-3 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-4 {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-5 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-6 {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 0;
    }

    .navbar-toggler-icon {
        background-color: #fff;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-nav .nav-link {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .section-header {
        font-size: 24px;
    }
}
