

/* Estilos para la barra de navegación */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Añade posición relativa al header */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilos para la sección de búsqueda mejorados */
.busqueda {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute; /* Añade posición absoluta al motor de búsqueda */
    top: 0; /* Lo coloca en la parte superior del header */
    right: 30px; /* Lo coloca en la parte derecha del header */
}

.busqueda li {
    margin-right: 20px;
}

.busqueda input[type="text"] {
    padding: 10px;
    border: 2px solid #555;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s, transform 0.3s;
    width: 0;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
}

.busqueda button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.busqueda input[type="text"]:focus {
    border-color: #777;
    transform: scaleX(1);
    width: 200px;
    opacity: 1;
}

.busqueda button:hover {
    background-color: #777;
}

/* Estilos para la sección de contenido */
.contenido {
    display: flex;
    align-items: flex-start; /* Alinea el contenido arriba */
    justify-content: space-between;
    padding: 20px;
}

.texto {
    flex: 1;
    padding: 20px;
}

.caja-principal, .caja-secundaria {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilos para la sección de imágenes */
.imagenes {
    flex: 1;
    text-align: center; /* Centra las imágenes horizontalmente */
    overflow: hidden; /* Oculta las imágenes que exceden el contenedor */
}

.imagenes img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    transition: transform 0.5s; /* Agrega una transición para las imágenes */
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


          
       
