body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif; /* Utiliza la fuente Barlow */
    font-size: 43.7px; /* Tamaño de fuente 43.7 */
}

.navbar {
    background-color: #333; /* Color de fondo de la barra de navegación (azul oscuro) */
    width: 100%; /* Ocupa todo el ancho de la página */
    height: 50px; /* Altura de la barra de navegación */
}

.content {
    display: flex;
}

.text-box {
    width: 60%; /* El 60% del ancho de la página */
    background: url('imagenes/Fondo.jpg'); /* Fondo de imagen para el cuadro de texto */
    background-size: cover;
    padding: 20px;
}

.image-box {
    width: 40%; /* El 40% del ancho de la página */
    background: url('imagenes/fondo_2.png'); /* Fondo de imagen para el cuadro de imagen */
    background-size: cover;
    /* Puedes agregar más estilos según sea necesario */
}

.title {
    color: blue; /* Color del título principal (azul) */
}

.description {
    color: #fff; /* Color del texto de descripción (blanco) */
}
